* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #222;
}

.card {
  width: 400px;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}


/* Search Box */
.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBox input {
  border: none;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding-left: 24px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
}

.searchBox button {
  border: none;
  outline: 0;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  width: 700px;
  height: 50px;
  background: #ebfffc;
  font-size: 28px;
  cursor: pointer;
}
/* Weather Info */
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}
.weather-icon {
  width: 150px;
  margin-top: 30px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind {
  font-size: 28px;
  margin-top: -10px;
}
.weather {
  display: none;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}